body {
    background-color: #eff2f7;
    
}

a:hover, .ant-menu-item-selected a, .ant-menu-item-selected, .ant-menu-item-active {
    color: #00be00 !important;
}
 
.ant-menu-inline .ant-menu-item:after{
    border-right: 3px solid #00be00
}
.ant-card { 
    border-radius: 12px;
}
 
.box{
    background-color: white;
    height: 200px; 
    margin: 10px;
    padding-top: 80px;
    text-align: center;
}