.qr-image-wrapper {
    
}

.qr-image-wrapper  div {
  top: 0px; left: 0px; z-index: 1; box-sizing: border-box; border: 50px solid rgba(0, 0, 0, 0.3); box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 0px 5px inset; position: absolute; width: 100%; height: 100%;
}